In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

# Importing the dataset

In [3]:
dataset = pd.read_excel("data/LATAM-Data.xlsx")
dataset.drop(['Unnamed: 0'], axis=1, inplace=True)
dataset.head(2)

,Supplier Name,Normalized Supplier Name,Parent Supplier Name,Region,Country Name,Strategic Region,Requestor Name,Preparer Name,Level 1,Level 2,...,GL Desc (Level 6),Invoice ID,Invoice Number,Invoice Source,GL Description,Product,Project,"Month, Day, Year of Payment Date",PO Number,Amount USD
0,20 TABELIAO DE NOTAS DA CAPITAL,20 TABELIAO DE NOTAS DA CAPITAL,20 TABELIAO DE NOTAS DA CAPITAL,LATAM,Brazil,LATAM,Daniela Fechio,Cindy Eurie,Uncategorized,Uncategorized,...,Operating Expenses w/o Allocations,300002608576539,504851,LETTERBOX,Postage and courier,Default Product,31505 - Sao Paulo Birmann 32,2023-02-10,7.000060e+10,6
1,20 TABELIAO DE NOTAS DA CAPITAL,20 TABELIAO DE NOTAS DA CAPITAL,20 TABELIAO DE NOTAS DA CAPITAL,LATAM,Brazil,LATAM,Daniela Fechio,Cindy Eurie,Uncategorized,Uncategorized,...,Operating Expenses w/o Allocations,300002647480228,505438,LETTERBOX,Postage and courier,Default Product,31505 - Sao Paulo Birmann 32,2023-03-08,7.000060e+10,2

In [4]:
dataset.shape

(11265, 30)

# 1. Become one with the data

Understanding the data is the first step to any data science project. In this step, we will try to understand the data and try to find some insights about the data. We will also look at the target variable and try to understand the distribution of the target variable.

Some business decisions were made to filter the columns that will be used in the model. The columns regarded as not relevant were removed from the dataset.

In [5]:
print(f"Suppliers: {len(dataset['Supplier Name'].unique())} different suppliers")
print(f"Number of null values: {dataset['Supplier Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Supplier Name'].isna().sum()}")
print(f"Distribution of suppliers (top 10): \n{dataset['Supplier Name'].value_counts()[:10]}")

Suppliers: 588 different suppliers
Number of null values: 0
Number of na values: 0
Distribution of suppliers (top 10):
Supplier Name
BANCO DO BRASIL SA                               3037
CAIXA ECONOMICA FEDERAL                           490
BRB BANCO DE BRASILIA SA                          446
ERICSSON TELECOMUNICACOES LTDA                    225
DISTRIBUIDORA E IMPORTADORA IRMAOS AVELINO SA     211
AGRO COMERCIAL BONFIM PAULISTA LTDA               210
BRASIL TELECOM COMUNICACAO MULTIMIDIA SA          186
KYNDRYL BRASIL SERVICOS LTDA                      175
SANTA CATARINA TRIBUNAL DE JUSTICA                152
SAINT GERMAIN PANIFICADORA E CONFEITARIA LTDA     136
Name: count, dtype: int64

In [6]:
print(f"Normalized suppliers: {len(dataset['Normalized Supplier Name'].unique())} different suppliers")
print(f"Number of null values: {dataset['Normalized Supplier Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Normalized Supplier Name'].isna().sum()}")
print(f"Distribution of normalized suppliers (top 10): \n{dataset['Normalized Supplier Name'].value_counts()[:10]}")

Normalized suppliers: 549 different suppliers
Number of null values: 0
Number of na values: 0
Distribution of normalized suppliers (top 10):
Normalized Supplier Name
BANCO DO BRASIL S A                              3037
CAIXA ECONOMICA FEDERAL                           490
BRB BANCO DE BRASILIA SA                          446
ERICSSON TELECOMUNICACOES LTDA                    225
DISTRIBUIDORA E IMPORTADORA IRMAOS AVELINO SA     211
AGRO COMERCIAL BONFIM PAULISTA LTDA               210
BRASIL TELECOM COMUNICACAO MULTIMIDIA SA          186
KYNDRYL BRASIL SERVICOS LTDA                      175
SANTA CATARINA TRIBUNAL DE JUSTICA                152
BANCO DO ESTADO DO RIO GRANDE DO SUL SA           138
Name: count, dtype: int64

In [7]:
print(f"Parent suppliers: {len(dataset['Parent Supplier Name'].unique())} different suppliers")
print(f"Number of null values: {dataset['Parent Supplier Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Parent Supplier Name'].isna().sum()}")
print(f"Distribution of Parent suppliers (top 10): \n{dataset['Parent Supplier Name'].value_counts()[:10]}")

Parent suppliers: 532 different suppliers
Number of null values: 0
Number of na values: 0
Distribution of Parent suppliers (top 10):
Parent Supplier Name
Banco do Brasil S/A                                                                  3037
PresidÃªncia da RepÃºblica                                                            548
UniÃ£o Federal                                                                        489
Telefon AB LM Ericsson                                                                335
DISTRIBUIDORA E IMPORTADORA IRMAOS AVELINO SA                                         211
AGRO COMERCIAL BONFIM PAULISTA EIRELI                                                 210
BTG PACTUAL INFRACO MASTER FUNDO DE INVESTIMENTO EM PARTICIPACOES MULTIESTRATEGIA     186
R o b e r t B o s c h S t i f t u n g Gesellschaft mit beschrÃ¤nkter Haftung          182
SANTA CATARINA TRIBUNAL DE JUSTICA                                                    152
SAINT GERMAIN PANIFICADORA E CONFEITARIA LTDA                                         136
Name: count, dtype: int64

In [8]:
# business decision: keep only normalized supplier name
dataset.drop(["Supplier Name", "Parent Supplier Name"], axis=1, inplace=True)

In [9]:
print(f"Region: {len(dataset['Region'].unique())} different region")

# business decision: drop region column
dataset.drop(["Region"], axis=1, inplace=True)

Region: 1 different region

In [10]:
print(f"Country Name: {len(dataset['Country Name'].unique())} different countries")
print(f"Number of null values: {dataset['Country Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Country Name'].isna().sum()}")
print(f"Distribution of countries (top 5): \n{dataset['Country Name'].value_counts()[:5]}")

Country Name: 10 different countries
Number of null values: 0
Number of na values: 0
Distribution of countries (top 5):
Country Name
Brazil       9394
Argentina     664
Mexico        619
Colombia      297
Chile          82
Name: count, dtype: int64

In [11]:
print(f"Strategic Region: {len(dataset['Strategic Region'].unique())} different strategic regions")
print(f"Number of null values: {dataset['Strategic Region'].isnull().sum()}")
print(f"Number of na values: {dataset['Strategic Region'].isna().sum()}")
print(f"Distribution of strategic regions (top 5): \n{dataset['Strategic Region'].value_counts()[:5]}")

Strategic Region: 4 different strategic regions
Number of null values: 0
Number of na values: 0
Distribution of strategic regions (top 5):
Strategic Region
LATAM    8126
NORAM    2868
EMEA      268
APAC        3
Name: count, dtype: int64

In [12]:
print(f"Requestor Name: {len(dataset['Requestor Name'].unique())} different requestors")
print(f"Number of null values: {dataset['Requestor Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Requestor Name'].isna().sum()}")
print(f"Distribution of requestors (top 5): \n{dataset['Requestor Name'].value_counts()[:5]}")

Requestor Name: 255 different requestors
Number of null values: 6591
Number of na values: 6591
Distribution of requestors (top 5):
Requestor Name
Lisandro Ulerio     1531
Patrick Matthies     371
Daniela Fechio       283
Diego Dominguez      236
Jack Daly            119
Name: count, dtype: int64

In [13]:
# in the Requestor Name, fil nan to unknown
dataset["Requestor Name"].replace("nan", "unknown", inplace=True)
dataset["Requestor Name"].fillna("unknown", inplace=True)

In [14]:
print(f"Number of null values: {dataset['Requestor Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Requestor Name'].isna().sum()}")

Number of null values: 0
Number of na values: 0

In [15]:
print(f"Preparer Name: {len(dataset['Preparer Name'].unique())} different preparers")
print(f"Number of null values: {dataset['Preparer Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Preparer Name'].isna().sum()}")
print(f"Distribution of preparers (top 5): \n{dataset['Preparer Name'].value_counts()[:5]}")

Preparer Name: 203 different preparers
Number of null values: 6747
Number of na values: 6747
Distribution of preparers (top 5):
Preparer Name
Victória Simonato         1456
Sheenam Sharma             343
Gustavo Nolasco Mencia     165
Cindy Eurie                160
Rebeka Azzolini            146
Name: count, dtype: int64

In [16]:
# in the Requestor Name, fil nan to unknown
dataset["Preparer Name"].replace("nan", "unknown", inplace=True)
dataset["Preparer Name"].fillna("unknown", inplace=True)

In [17]:
print(f"Number of null values: {dataset['Preparer Name'].isnull().sum()}")
print(f"Number of na values: {dataset['Preparer Name'].isna().sum()}")

Number of null values: 0
Number of na values: 0

In [18]:
print(f"Level 1: {len(dataset['Level 1'].unique())} different levels")
print(f"Number of null values: {dataset['Level 1'].isnull().sum()}")
print(f"Number of na values: {dataset['Level 1'].isna().sum()}")
print(f"Distribution of levels (top 5): \n{dataset['Level 1'].value_counts()[:5]}")

Level 1: 11 different levels
Number of null values: 0
Number of na values: 0
Distribution of levels (top 5):
Level 1
Professional Services        5402
Technology/Telecom           2073
Real Estate & Facilities     2019
Uncategorized                 502
Sales, Marketing & Events     464
Name: count, dtype: int64

In [19]:
print(f"Level 2: {len(dataset['Level 2'].unique())} different levels")
print(f"Number of null values: {dataset['Level 2'].isnull().sum()}")
print(f"Number of na values: {dataset['Level 2'].isna().sum()}")
print(f"Distribution of levels (top 5): \n{dataset['Level 2'].value_counts()[:5]}")

Level 2: 56 different levels
Number of null values: 0
Number of na values: 0
Distribution of levels (top 5):
Level 2
Legal Services                     4644
Food & Beverage                    1521
Connectivity & Bandwidth            850
Uncategorized                       502
Technical Professional Services     397
Name: count, dtype: int64

In [20]:
print(f"Level 3: {len(dataset['Level 3'].unique())} different levels")
print(f"Number of null values: {dataset['Level 3'].isnull().sum()}")
print(f"Number of na values: {dataset['Level 3'].isna().sum()}")
print(f"Distribution of levels (top 5): \n{dataset['Level 3'].value_counts()[:5]}")

Level 3: 158 different levels
Number of null values: 0
Number of na values: 0
Distribution of levels (top 5):
Level 3
Legal Settlements    4354
Café Supplies        1168
Uncategorized         502
Cross Connects        458
Transport             336
Name: count, dtype: int64

In [21]:
print(f"Business Unit: {len(dataset['Business Unit'].unique())} different business units")
print(f"Number of null values: {dataset['Business Unit'].isnull().sum()}")
print(f"Number of na values: {dataset['Business Unit'].isna().sum()}")
print(f"Distribution of business units (top 5): \n{dataset['Business Unit'].value_counts()[:5]}")

Business Unit: 19 different business units
Number of null values: 1327
Number of na values: 1327
Distribution of business units (top 5):
Business Unit
Legal                         4203
Facilities                    2345
Infrastructure                1581
IT & Corpnet                   511
Global Marketing Solutions     369
Name: count, dtype: int64

In [22]:
# in the Business Unit, fill nan to unknown
dataset["Business Unit"].replace("nan", "unknown", inplace=True)
dataset["Business Unit"].fillna("unknown", inplace=True)

print(f"Number of null values: {dataset['Business Unit'].isnull().sum()}")
print(f"Number of na values: {dataset['Business Unit'].isna().sum()}")

Number of null values: 0
Number of na values: 0

In [23]:
print(f"Legal Entity: {len(dataset['Legal Entity'].unique())} different legal entities")
print(f"Number of null values: {dataset['Legal Entity'].isnull().sum()}")
print(f"Number of na values: {dataset['Legal Entity'].isna().sum()}")
print(f"Distribution of legal entities (top 5): \n{dataset['Legal Entity'].value_counts()[:5]}")

Legal Entity: 19 different legal entities
Number of null values: 0
Number of na values: 0
Distribution of legal entities (top 5):
Legal Entity
Facebook Servicos Online Do Brasil Ltda               7914
Edge Network do Brasil Servicos em Tecnologia Ltda     897
Facebook Mexico S de RL de CV                          462
Facebook Argentina S.R.L.                              443
Edge Argentina S.R.L.                                  231
Name: count, dtype: int64

In [24]:
print(f"Cost Center: {len(dataset['Cost Center'].unique())} different cost centers")
print(f"Number of null values: {dataset['Cost Center'].isnull().sum()}")
print(f"Number of na values: {dataset['Cost Center'].isna().sum()}")
print(f"Distribution of cost centers (top 5): \n{dataset['Cost Center'].value_counts()[:5]}")

Cost Center: 98 different cost centers
Number of null values: 0
Number of na values: 0
Distribution of cost centers (top 5):
Cost Center
6631 - NORAM Litigation Group                        4150
9910 - Non-Bay Area Facilities & Operations Group    2105
0000 - Default Cost Center                           1311
4320 - Core Networking Group                         1306
6820 - EE Ops Supply Chain Group                      325
Name: count, dtype: int64

In [25]:
print(f"Cost Center (Base Level): {len(dataset['Cost Center (Base Level)'].unique())} different cost centers")
print(f"Number of null values: {dataset['Cost Center (Base Level)'].isnull().sum()}")
print(f"Number of na values: {dataset['Cost Center (Base Level)'].isna().sum()}")
print(f"Distribution of cost centers (top 5): \n{dataset['Cost Center (Base Level)'].value_counts()[:5]}")

Cost Center (Base Level): 98 different cost centers
Number of null values: 0
Number of na values: 0
Distribution of cost centers (top 5):
Cost Center (Base Level)
NORAM Litigation Group                        4150
Non-Bay Area Facilities & Operations Group    2105
Default Cost Center                           1311
Core Networking Group                         1306
EE Ops Supply Chain Group                      325
Name: count, dtype: int64

In [26]:
# business decision: keep only Cost Center (Base Level)
dataset.drop(["Cost Center"], axis=1, inplace=True)

In [27]:
print(f"Cost Center (Level 4): {len(dataset['Cost Center (Level 4)'].unique())} different cost centers")
print(f"Number of null values: {dataset['Cost Center (Level 4)'].isnull().sum()}")
print(f"Number of na values: {dataset['Cost Center (Level 4)'].isna().sum()}")
print(f"Distribution of cost centers (top 5): \n{dataset['Cost Center (Level 4)'].value_counts()[:5]}")

Cost Center (Level 4): 23 different cost centers
Number of null values: 0
Number of na values: 0
Distribution of cost centers (top 5):
Cost Center (Level 4)
Legal G&A                     4203
FCS G&A                       2349
Infra R&D                     1597
Corporate G&A                 1316
Enterprise Engineering G&A     511
Name: count, dtype: int64

In [28]:
print(f"Cost Center (Level 5): {len(dataset['Cost Center (Level 5)'].unique())} different cost centers")
print(f"Number of null values: {dataset['Cost Center (Level 5)'].isnull().sum()}")
print(f"Number of na values: {dataset['Cost Center (Level 5)'].isna().sum()}")
print(f"Distribution of cost centers (top 5): \n{dataset['Cost Center (Level 5)'].value_counts()[:5]}")

Cost Center (Level 5): 3 different cost centers
Number of null values: 0
Number of na values: 0
Distribution of cost centers (top 5):
Cost Center (Level 5)
General & Administrative    9102
Research & Development      1610
Marketing & Sales            553
Name: count, dtype: int64

In [29]:
print(f"Cost Center (Level 6): {len(dataset['Cost Center (Level 6)'].unique())} different cost centers")

# business decision: drop Cost Center (Level 6)
dataset.drop(["Cost Center (Level 6)"], axis=1, inplace=True)

Cost Center (Level 6): 1 different cost centers

In [30]:
print(f"GL Description: {len(dataset['GL Description'].unique())} different GL descriptions")
print(f"Number of null values: {dataset['GL Description'].isnull().sum()}")
print(f"Number of na values: {dataset['GL Description'].isna().sum()}")
print(f"Distribution of GL descriptions (top 5): \n{dataset['GL Description'].value_counts()[:5]}")

GL Description: 102 different GL descriptions
Number of null values: 0
Number of na values: 0
Distribution of GL descriptions (top 5):
GL Description
Legal - settlements                      3869
Kitchen                                  1505
Assets clearing-capitalized               508
Other LT Assets                           475
COGS - Connectivity & bandwidth (PoP)     410
Name: count, dtype: int64

In [31]:
print(f"GL Desc (Level 4): {len(dataset['GL Desc (Level 4)'].unique())} different GL descriptions")
print(f"Number of null values: {dataset['GL Desc (Level 4)'].isnull().sum()}")
print(f"Number of na values: {dataset['GL Desc (Level 4)'].isna().sum()}")
print(f"Distribution of GL descriptions (top 5): \n{dataset['GL Desc (Level 4)'].value_counts()[:5]}")

GL Desc (Level 4): 72 different GL descriptions
Number of null values: 475
Number of na values: 475
Distribution of GL descriptions (top 5):
GL Desc (Level 4)
Legal - settlements                    3869
Kitchen                                1505
Prepaid Exp. & Other Current Assets     792
Fixed Assets - Gross                    643
Current Liabilities                     627
Name: count, dtype: int64

In [32]:
print(f"GL Desc (Level 5): {len(dataset['GL Desc (Level 5)'].unique())} different GL descriptions")
print(f"Number of null values: {dataset['GL Desc (Level 5)'].isnull().sum()}")
print(f"Number of na values: {dataset['GL Desc (Level 5)'].isna().sum()}")
print(f"Distribution of GL descriptions (top 5): \n{dataset['GL Desc (Level 5)'].value_counts()[:5]}")

GL Desc (Level 5): 7 different GL descriptions
Number of null values: 0
Number of na values: 0
Distribution of GL descriptions (top 5):
GL Desc (Level 5)
Opex w/o Allocations & Interco    7838
Indirect COGS                      887
Current Assets                     792
Fixed Assets, Net                  643
Total Liabilities                  627
Name: count, dtype: int64

In [33]:
print(f"GL Desc (Level 6): {len(dataset['GL Desc (Level 6)'].unique())} different GL descriptions")
print(f"Number of null values: {dataset['GL Desc (Level 6)'].isnull().sum()}")
print(f"Number of na values: {dataset['GL Desc (Level 6)'].isna().sum()}")
print(f"Distribution of GL descriptions (top 5): \n{dataset['GL Desc (Level 6)'].value_counts()[:5]}")

GL Desc (Level 6): 5 different GL descriptions
Number of null values: 0
Number of na values: 0
Distribution of GL descriptions (top 5):
GL Desc (Level 6)
Operating Expenses w/o Allocations          7838
Total Assets                                1910
Cost of Goods Sold                           887
Total Liabilities & Shareholders' Equity     627
Income before Taxes                            3
Name: count, dtype: int64

In [34]:
# business decision: drop GL Desc (Level 5) and GL Desc (Level 6)
dataset.drop(["GL Desc (Level 5)", "GL Desc (Level 6)"], axis=1, inplace=True)

In [35]:
print(f"Invoice ID: {len(dataset['Invoice ID'].unique())} different invoice IDs")
print(f"Invoice Number: {len(dataset['Invoice Number'].unique())} different invoice numbers")

Invoice ID: 10110 different invoice IDs
Invoice Number: 9943 different invoice numbers

In [36]:
# business decision: drop Invoice ID and Invoice Number
dataset.drop(["Invoice ID", "Invoice Number"], axis=1, inplace=True)

In [37]:
print(f"Invoice Source: {len(dataset['Invoice Source'].unique())} different invoice sources")
print(f"Number of null values: {dataset['Invoice Source'].isnull().sum()}")
print(f"Number of na values: {dataset['Invoice Source'].isna().sum()}")
print(f"Distribution of invoice sources (top 5): \n{dataset['Invoice Source'].value_counts()[:5]}")

Invoice Source: 9 different invoice sources
Number of null values: 0
Number of na values: 0
Distribution of invoice sources (top 5):
Invoice Source
Manual Invoice Entry    4949
LETTERBOX               2482
CAFEPRO                 1467
OCR                     1128
TEM                      783
Name: count, dtype: int64

In [38]:
print(f"Product: {len(dataset['Product'].unique())} different products")
print(f"Number of null values: {dataset['Product'].isnull().sum()}")
print(f"Number of na values: {dataset['Product'].isna().sum()}")
print(f"Distribution of products (top 5): \n{dataset['Product'].value_counts()[:5]}")

Product: 3 different products
Number of null values: 6565
Number of na values: 6565
Distribution of products (top 5):
Product
Default Product     4694
Metaworks Shared       6
Name: count, dtype: int64

In [39]:
# business decision: drop Product
dataset.drop(["Product"], axis=1, inplace=True)

In [40]:
print(f"Project: {len(dataset['Project'].unique())} different projects")
print(f"Number of null values: {dataset['Project'].isnull().sum()}")
print(f"Number of na values: {dataset['Project'].isna().sum()}")
print(f"Distribution of projects (top 5): \n{dataset['Project'].value_counts()[:5]}")

Project: 127 different projects
Number of null values: 0
Number of na values: 0
Distribution of projects (top 5):
Project
00000 - Default Project             7566
31311 - Sao Paolo Aguas de Marco    1480
55545 - LATAM PoPs                   286
31505 - Sao Paulo Birmann 32         121
55111 - Network - Edge - FNA         107
Name: count, dtype: int64

In [41]:
# business decision: drop 'Month, Day, Year of Payment Date', 'PO Number' and 'Amount USD'
dataset.drop(["Month, Day, Year of Payment Date", "PO Number", "Amount USD"], axis=1, inplace=True)

In [43]:
dataset.head(2)

,Normalized Supplier Name,Country Name,Strategic Region,Requestor Name,Preparer Name,Level 1,Level 2,Level 3,Business Unit,Legal Entity,Cost Center (Base Level),Cost Center (Level 4),Cost Center (Level 5),GL Desc (Level 4),Invoice Source,GL Description,Project
0,20 TABELIAO DE NOTAS DA CAPITAL,Brazil,LATAM,Daniela Fechio,Cindy Eurie,Uncategorized,Uncategorized,Uncategorized,Facilities,Facebook Servicos Online Do Brasil Ltda,Non-Bay Area Facilities & Operations Group,FCS G&A,General & Administrative,Postage and courier,LETTERBOX,Postage and courier,31505 - Sao Paulo Birmann 32
1,20 TABELIAO DE NOTAS DA CAPITAL,Brazil,LATAM,Daniela Fechio,Cindy Eurie,Uncategorized,Uncategorized,Uncategorized,Facilities,Facebook Servicos Online Do Brasil Ltda,Non-Bay Area Facilities & Operations Group,FCS G&A,General & Administrative,Postage and courier,LETTERBOX,Postage and courier,31505 - Sao Paulo Birmann 32

In [45]:
# save dataset to csv
dataset.to_csv("data/LATAM-Data-cleaned.csv", index=False)